.portfolios{
  display: flex;
  flex-flow: column nowrap;
  &__content{
    height: 100vh;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    &__top{
      font-size:20px;
      font-weight: bold;
    }
    &__image{
      width: 60vw;
    }
  }

}